@media (max-width: 945px) {
/*Header*/
.header {
  position: static;
}

.adventages .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 770px) {
  .services .cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .services .card {
  width: 80%;
  padding: 10px
  }

  .titles-wrapper {
    margin-bottom: 30px;
  }

}
@media (max-width: 770px) {
  .common-section {
    padding: 60px 0;
}
  .titles-wrapper {
    margin-bottom: 25px;
  }

  .services .card {
    width: 90%;
    padding: 5px
    }
}

@media (max-width: 660px) {
  .tab-nav__btn {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
  }
  .tab-nav__btn + .tab-nav__btn {
    margin-top: 15px;
    margin-left: auto;
  }
}

@media (max-width: 400px) {
/*common*/
body {
  font-size: 12px;
}
.common-section {
  padding: 40px 0;
}
/*header*/
.header__item+li {
  margin-left: 20px;
}

.welcome__heading {
  font-size: 40px;
  margin-bottom: 60px;
}

.welcome__links a {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.welcome__links>*+* {
  margin-top: 20px;
}
/*advantages*/
.card__title {
  font-size: 16px;
}

/*services*/
.card__image--services-size {
  width: 430px;
  height: 175px;
}

.tab-item__title {
  font-size: 24px;
}
}