@media (max-width: 945px) {
/*Header*/
.header {
  position: static;
}

.header__item+li {
  margin-left: 20px;
}

.welcome__heading {
  font-size: 40px;
  margin-bottom: 60px;
}

.welcome__links a {
  display: block;
}

.welcome__links>*+* {
  margin-top: 20px;
  margin-left: 0px;
}

  .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}