/*****General Property*****/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Text:wght@500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  /*940 + 15 + 15*/
  padding: 0 15px;
  margin: 0 auto;
}

p {
  line-height: 1.8;
  /* 25/14=1.8 */
  color: #6A859C;
}

/*****Header Block******/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

.container {}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}

.header__nav {}

.header__list {
  display: flex;
}

.header__item+li {
  margin-left: 40px;
}

.header__link {
  font-size: 16px;
  line-height: 1, 25;
  color: #676770;
  transition: color 0.2s;
}

.header__link:hover {
  color: #0082F3;
}

.header__link:active {
  color: #005198;
}

/*****Main Block******/
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;
  background: #005198 url("/img/bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.welcome__heading {
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.link-primary {
  padding: 11px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #69B9FF;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.link {
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
}

.welcome__links>*+* {
  margin-left: 20px;
}

.link-primary:hover {
  background: #81c0f8;
}

.link-primary:active {
  background: #3d93de;
}

.link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
}

/*****Advantages Block*****/
.adventages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.common-section {
  padding: 80px 0;
}

.titles-wrapper {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
}

.subtitle {
  font-size: 17px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;

}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 300px;
  padding: 36px 16px 13px;
  border: 1px solid #DCEBF7;
  border-radius: 5px;
}

.card__image {
  margin-bottom: 19px;
}

.card__title {
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #676770;
}

.card__desc {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.8;
  color: #6A859C;
}