/*****General Property*****/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Text:wght@500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  /*940 + 15 + 15*/
  padding: 0 15px;
  margin: 0 auto;
}

p {
  line-height: 1.8;
  /* 25/14=1.8 */
  color: #6A859C;
}

/*****Header Block******/
.header {
  padding: 20px 0;
}

.container {}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}

.header__nav {}

.header__list {
  display: flex;
}

.header__item+li {
  margin-left: 40px;
}

.header__link {
  font-size: 16px;
  line-height: 1, 25;
  color: #676770;
}

.header__link:hover {
  color: #0082F3;
}

.header__link:active {
  color: #005198;
}

/*****Main Block******/
